.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(var(--ion-color-medium-contrast-rgb),0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
