<div class="backdrop">
  <div class="inner-content">
    <div class="close-dialog-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </div>
    <div class="body-dialog">
      <div class="head-dialog">
        <div class="head-dialog-title">{{title}}</div>
      </div>
      <div class="content-dialog">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
